[Unit]
Description=CernVM boot contextualization hooks
After=local-fs.target network-online.target cernvm.service
Wants=local-fs.target network-online.target cernvm.service

[Service]
Type=oneshot
ExecStart=/etc/cernvm/service.d/cernvm-context-postscripts
RemainAfterExit=yes
TimeoutSec=0

[Install]
WantedBy=multi-user.target
