[Unit]
Description=CernVM cluster contextualization: send master ready status on master machine
After=cloud-final.service multi-user.target cernvm-contextualization.service
Wants=cloud-final.service cloud-config.service cernvm-contextualization.service
ConditionPathExists=/mnt/.rw/context/ucontext

[Service]
Type=oneshot
ExecStart=/etc/cernvm/service.d/cernvm-master-ready
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

